10-combined-mini-api/Mini-API (Webhook → HTTP Request → Respond).json
{
  "name": "Mini-API (Webhook → HTTP Request → Respond)",
  "nodes": [
    {
      "parameters": {
        "path": "user-info",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0456113d-580c-4b40-a545-ee17816c7986",
      "name": "Webhook",
      "webhookId": "6b105809-d50f-4be3-bb30-79c4e5114650"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e444810d-a8db-429c-9fa2-e9bb09a356f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6f8778f-01d5-44ac-a5f5-f191fd375bb0",
              "name": "result",
              "value": "={{ $json.name }} ({{ $json.email }}) works at {{ $json.company.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a10b274f-bca8-4139-977d-51773ce4b3a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "a9e3b00f-7dcb-4895-a429-6f6cab710e24",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3344ddc-8c69-4576-a71c-f645434cb6c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35fd6bf22491484b136bf20d1aca87e4aee15a01ddb5e1da7d0328a6f9a20c26"
  },
  "nodeGroups": [],
  "id": "1sU11oMI9Lk9a4ec",
  "tags": []
}